{{template "head"}}
{{template "header" .}}
<style>
    body {
        height: 800px;
    }
    #banner:before, #duplicate-banner:before, .sun-wrapper, .our-mother-earth, .our-mother-earth::after {
        animation: none;
    }
    .our-mother-earth::after {
        width: auto;
        opacity: 1;
    }
</style>
<div id="banner-cont">
    {{template "animated_banner_template" .}}
</div>
<input id="start" type="checkbox" {{if .Ask}}checked{{end}}>
{{template "estimate-form" .}}
<div class="wrapper_mobile">
    <div class="progress_bar_mobile"></div>
</div>
{{template "footer" .}}