{{define "head"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name = "viewport" content = "width = device-width">
    <link rel="apple-touch-icon" type="image/x-icon" href="/assets/v2_logo.ico"/>
    <link rel="icon" type="image/x-icon" href="/assets/v2_logo.ico"/>
    <title>HyTech Energy | Renewable Energy - Solar Panel Installations</title>
    {{/*<link rel="stylesheet" type="text/css" media="screen" href="/assets/main.css"/>*/}}
    <script>document.write('<link rel="stylesheet" type="text/css" media="screen" href="/assets/main.css?v=' + Math.floor(Math.random() * 100) + '"/>');</script>
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
</head>
<body>
    <div id="ecto">
{{end}}