{{template "head" .}}
{{template "header" .}}
<style>

</style>
   <div id="banner-cont">
       {{template "animated_banner_template" .}}
   </div>
    <input id="start" type="checkbox" {{if .Ask}}checked{{end}}>
    {{template "estimate-form" .}}
    <h4 id="headline">Welcome</h4>
    <p id="mission">Our mission is simple, provide quality and affordable solar energy solutions to homes in Fresno. Our high hope is to open satellite locations in the future and keep our home base for business here.</p>
{{template "footer" .}}

