{{template "head" .}}
<style>

</style>
{{template "header" .}}
<main class="layout-main">
    <div class="page-banner services-banner">
        {{/*<h3>Your system is tailor made to match your expectations</h3>*/}}
        <a href="/estimates#open_form" id="open_form"></a>
    </div>
    <div class="services-content content-main">
        <h3 id="services-headline">Hytech Energy provides new energy system featuring</h3>
        <a href="#services-headline" id="scroll-down"></a>
        <div id="service-top"></div>
        <ol>
            <li>
                <div id="solar-panel-rooftop-1" class="service-picture"></div>
                <div class="service-point">
                    <h3>Solar Panel Rooftops</h3>
                    <p>
                        Where light hits your roof the most, we will install solar panels there to pipe that
                        light into energy for your home
                    </p>
                </div>
                <div id="solar-panel-rooftop-2" class="service-picture"></div>
            </li>
            <li>
                <div id="ground-mounted-2" class="service-picture"></div>
                <div class="service-point">
                    <h3>Ground Mounted Solar Panels</h3>
                    <p>
                        Your ground property may provide the most or just extra space to generate light energy
                    </p>
                </div>
                <div id="ground-mounted-1" class="service-picture"></div>
            </li>
            <li>
                <div id="battery-backup" class="service-picture"></div>
                <div class="service-point">
                    <h3>Battery Back Up Systems</h3>
                    <p>
                        Batteries allows energy from the light to be stored and used latter, that way, when there is no light,
                        you can still have energy from the sun to power your home
                    </p>
                </div>
            </li>
        </ol>
    </div>
</main>

{{template "footer" .}}